* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body {
    font-family: 'Comfortaa', cursive;
}

header {
    background-color: rgba(224, 221, 221, 0.473);
    height: auto;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    padding: 20px;
    color: rgba(163, 159, 159, 0.896);
    border: solid 2px rgba(103, 103, 103, 0.39);
}


.inputContainer {
    background-color: rgba(224, 221, 221, 0.473);
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
}

.inputContainer input {
    border:0;
    padding: 10px;
    width: 90%;
    margin-right: 0,5%;
    height: 50px;
    font-size: 17px;
    position: sticky;
}
.inputContainer button {
    font-size: 18px;
    width: 9%;
    background: rgb(138, 236, 171);
    border: none;
    padding: 10px;
    height: 50px;
    color: rgb(115, 109, 95);
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 120px;    
}

#messages li {
    padding: 7px 15px;
    color: rgb(115, 109, 95);
    font-size: 18px;
}

#messages li:nth-child(odd) {
    background: #f0e1f9d3;
}


footer {
    margin: 0;
    bottom: 0;
    position: relative;
    width: 100%;
}

