* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;

}

header {
    background-color: rgba(224, 221, 221, 0.473);
    height: auto;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    padding: 20px;
    color: rgba(163, 159, 159, 0.896);
}

body {
    font-family: 'Comfortaa', cursive;
}


.inputContainer {
    background-color: rgba(224, 221, 221, 0.473);
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.inputContainer input {
    height: 50px;
    border:0;
    padding: 10px;
    width: 90%;
    margin-right: 0,5%;
    font-size: 15px;
    
}
.inputContainer button {
    font-size: 15px;
    width: 9%;
    background: rgb(163, 255, 182);
    border: none;
    padding: 10px;
    color: rgb(95, 95, 95);
    height: 50px;
}