* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body {
    font-family: 'Comfortaa', cursive;
}

header {
    background-color: #f0e1f9d3;
    height: auto;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    padding: 20px;
    color: rgba(88, 88, 88, 0.466);
    border: solid 2px rgba(156, 152, 152, 0.247);
}

.glow {
    -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(243, 211, 164), 0 0 20px rgb(241, 220, 162), 0 0 30px #ebd489, 0 0 40px #ebd9a3, 0 0 50px #f0e2a4bd, 0 0 60px #f0e4bec0;
  }
  
  to {
    text-shadow: 0 0 20px rgb(229, 247, 146), 0 0 30px #eeedac, 0 0 40px #d7e0b2, 0 0 50px #e3e6bd, 0 0 60px #dbdfb7ce;
  }
}


.inputContainer {
    background-color: rgba(224, 221, 221, 0.473);
    padding: 7px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
}

.inputContainer input {
    border:0;
    padding: 10px;
    width: 90%;
    margin-right: 0,5%;
    height: 50px;
    font-size: 17px;
    color: rgb(81, 79, 75);
}

.inputContainer button {
    font-size: 18px;
    width: 9%;
    background: rgb(138, 236, 171);
    border: none;
    padding: 10px;
    height: 50px;
    color: rgb(115, 109, 95);
}

ul {
    margin-top: 8px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 120px; 
}

#messages li {
    color: rgb(115, 109, 95);
    font-size: 19px;
    margin-left: 15px;
    margin-top: 7px;
    margin-bottom: 50px;
}

#messages p {
    font-size: 10px;
    font-family: sans-serif;
    color: rgba(112, 112, 112, 0.712);
    margin-left: 15px; 
    margin-bottom: 3px;
    padding: 0;
}

#messages div:nth-child(even) {
    background: #f0e1f97c;
}

#messages div {
    padding: 2px;
    border: solid rgba(211, 211, 211, 0.759) 1px;
    margin: 1%;

}

#footer {
    margin: 0;
    bottom: 0;
    position: relative;
    width: 100%;
}



